body {
  background-color: #EAEDED; }

#dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  #dashboard #dashboardNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; }
    #dashboard #dashboardNavBar div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #dashboard #dashboardNavBar div p {
        font-size: 20px; }
    #dashboard #dashboardNavBar p {
      margin-bottom: 0px; }
    #dashboard #dashboardNavBar .dashboardSelected {
      position: relative;
      width: 10px;
      height: 6px;
      background-color: #009FE3; }
  #dashboard #dashboardMiniCalendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(45deg, #3F61AA, #009FE3);
    margin-top: 20px;
    border-radius: 2%;
    width: 95%;
    padding-left: 5%; }
    #dashboard #dashboardMiniCalendar div:first-child {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 95%; }
      #dashboard #dashboardMiniCalendar div:first-child p {
        color: #EAEDED;
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 15px;
        font-weight: bold; }
    #dashboard #dashboardMiniCalendar div:last-child {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-items: center;
      align-items: center;
      width: 95%;
      margin-bottom: 15px; }
      #dashboard #dashboardMiniCalendar div:last-child p {
        color: #EAEDED; }
    #dashboard #dashboardMiniCalendar .weekDaysMiniCalendar {
      margin-bottom: 0px; }
  #dashboard #dashboardSubstances {
    margin-top: 25px; }

#newSubstance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: scroll; }
  #newSubstance #newSubstanceFirst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    #newSubstance #newSubstanceFirst h5 {
      margin-bottom: 30px; }
    #newSubstance #newSubstanceFirst #displaySubstances {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-gap: 20px; }
      #newSubstance #newSubstanceFirst #displaySubstances .substanceCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 70px;
        height: 100px; }
        #newSubstance #newSubstanceFirst #displaySubstances .substanceCard .substanceCardImage img {
          width: 70px;
          height: 70px; }
        #newSubstance #newSubstanceFirst #displaySubstances .substanceCard .substanceCardName p {
          height: 30px;
          line-height: 30px;
          margin: 0px; }
  #newSubstance #newSubstanceSecond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    #newSubstance #newSubstanceSecond #getDosage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #newSubstance #newSubstanceSecond #getDosage div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        #newSubstance #newSubstanceSecond #getDosage div:first-child div input {
          width: 50px; }
      #newSubstance #newSubstanceSecond #getDosage #submitDosage {
        width: 40px;
        height: 40px; }
  #newSubstance #newSubstanceThird {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #newSubstance #newSubstanceThird h5 {
      margin-bottom: 20px; }
    #newSubstance #newSubstanceThird #submitDoseTime {
      width: 40px;
      height: 40px;
      margin-top: 20px; }
  #newSubstance #newSubstanceFourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #newSubstance #newSubstanceFourth div .moods {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      #newSubstance #newSubstanceFourth div .moods img {
        width: 80px;
        height: 80px;
        margin: 0px 10px; }
    #newSubstance #newSubstanceFourth #submitMood {
      width: 40px;
      height: 40px;
      margin-top: 20px; }

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 7%;
  background-color: #009FE3; }
  footer #footerNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%; }
    footer #footerNavBar img {
      width: 40px; }
    footer #footerNavBar img:nth-child(3) {
      background-color: #009FE3;
      border-radius: 50%;
      border: 5px solid #009FE3;
      width: 70px; }
    footer #footerNavBar #footerNewSubstanceBtn {
      margin-bottom: 20px; }

.underline {
  text-decoration: underline; }

.bold {
  font-weight: bold; }

.center {
  vertical-align: middle; }

.backArrow {
  position: fixed;
  left: 10px;
  top: 10px; }

.timepicker-digital-display {
  background-image: linear-gradient(45deg, #3F61AA, #009FE3); }

.timepicker-canvas line {
  stroke: #009FE3; }

.timepicker-canvas-bg {
  fill: #009FE3; }

.timepicker-canvas-bearing {
  fill: #009FE3; }

.confirmation-btns button {
  color: #009FE3; }

.datepicker-date-display {
  background-image: linear-gradient(45deg, #3F61AA, #009FE3); }

.datepicker-table td.is-selected {
  background-color: #009FE3; }

.datepicker-table td.is-today {
  color: #009FE3; }

.datepicker-table td.is-selected {
  color: white; }

/*# sourceMappingURL=home.css.map */
