@mixin flex($direction, $justify, $align)
{
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

$background: #EAEDED;
$color1: #009FE3;
$color2: #3F61AA;
$color3: #31c1ff;

.backgroundColorInside
{
    color: #EAEDED;
}

.backgroundColorBack
{
    background-color: #EAEDED;
}

.black
{
    color: black;
}

.gradient
{
    background-image: linear-gradient(45deg, #3F61AA, #009FE3);
}

.gradientFooter
{
    background-image: linear-gradient(0deg, #3F61AA, #009FE3);
}

.gradientFooterBorder
{
    background-image: linear-gradient(0deg, #3F61AA, #31C1FF);
}

.mainColorInside
{
    color: #009FE3;
}

.mainColorBack
{
    background-color: #009FE3;
}

#dashboard
{
    @include flex(column, flex-start, center);

    padding-bottom: 50px;

    #dashboardNavBar
    {
        @include flex(row, space-evenly, center);
        width: 100%;
    
        div
        {
            @include flex(column, center, center);
    
            p
            {
                font-size: 20px;
            }
        }
    
        p
        {
            margin-bottom: 0px;
        }
    
        .dashboardSelected
        {
            position: relative;
            width: 10px;
            height: 6px;
    
            //background-color: $color1;
        }
    }

    #dashboardMiniCalendar
    {
        @include flex(column, center, flex-start);

        margin-top: 20px;
        border-radius: 2%;
        width: 95%;
        padding-left: 5%;

        div:first-child
        {
            @include flex(row, space-between, center);

            width: 95%;

            p
            {
                margin-top: 10px;
                margin-bottom: 0px;
                font-size: 15px;
                font-weight: bold;
            }
        }

        div:last-child
        {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            justify-items: center;
            align-items: center;

            width: 95%;
            margin-bottom: 15px;
        }

        .weekDaysMiniCalendar
        {
            margin-bottom: 0px;
        }
    }

    #dashboardSubstances
    {
        @include flex(column, center, center);

        width: 100%;
        margin-top: 25px;

        .dashboardSubstancesGroups:first-child
        {
            margin-bottom: 15px;
        }

        .dashboardSubstancesGroups
        {
            @include flex(row, space-between, center);

            width: 95%;

            border-radius: 5px;

            .dashboardSubstancesGroupsData
            {
                @include flex(column, center, flex-start);
    
                width: 90%;
                padding: 10px;
    
                p
                {
                    margin-top: 0px;
                }
    
                .dashboardSubstancesGroupsStatus
                {
                    @include flex(row-reverse, center, center);
    
                    div
                    {
                        margin: 0px 5px;
                        width: 10px;
                        height: 10px;
                        background-color: white;

                        border-radius: 50%;
                    }
                    
                }
            }
        }
    }
}

#newSubstance
{
    @include flex(column, center, center);
    
    width: 100%;
    overflow: scroll;

    #newSubstanceFirst
    {
        @include flex(column, center, center);

        width: 100%;

        h5
        {
            margin-bottom: 30px;
        }
    
        #displaySubstances
        {
            display: grid;
            justify-items: center;
            align-items: center;
            grid-gap: 20px;
    
            .substanceCard
            {
                @include flex(column, center, center);
    
                background-color: white;
    
                width: 70px;
                height: 100px;
    
                .substanceCardImage img
                {
                    width: 70px;
                    height: 70px;
                }
    
                .substanceCardName
                {
                    p
                    {
                        height: 30px;
                        line-height: 30px;
                        margin: 0px;
                    }
                }
                
            }
        }
    }

    #newSubstanceSecond
    {
        @include flex(column, center, center);

        width: 100%;

        #getDosage
        {
            @include flex(column, center, center);

            div:first-child
            {
                @include flex(row, center, center);

                div input
                {
                    width: 50px;
                }
            }

            #submitDosage
            {
                width: 40px;
                height: 40px; 
            }
        }
    }

    #newSubstanceThird
    {
        @include flex(column, center, center);

        h5
        {
            margin-bottom: 20px;
        }

        #submitDoseTime
        {
            width: 40px;
            height: 40px;

            margin-top: 20px;
        }
    }

    #newSubstanceFourth
    {
        @include flex(column, center, center);

        .moodsBox
        {
            padding: 10px;
            margin: 10px 0px;

            .moods
            {
                @include flex(row, center, center);

                padding: 10px;
                margin: 10px 0px;
                border-radius: 2%;

                img
                {
                    width: 80px;
                    height: 80px;

                    margin: 0px 10px;
                }
            }
        }

        #submitMoods
        {
            width: 40px;
            height: 40px;

            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
}

#detailedSubstance
{
    @include flex(column, flex-start, center);

    width: 100%;

    #detailedSubstanceStats
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;

        width: 60%;
        

        div
        {
            @include flex(column, center, center);

            height: 50px;

            border-radius: 5px;

            p
            {
                margin: 0px;
                color: white;
            }

            p:first-child
            {
                font-size: 17px;
            }
        }
    }

    .detailedSubstanceRecentActivity
    {
        @include flex(column-reverse, flex-start, center);
        width: 100%;

        .detailedSubstanceInput
        {
            @include flex(column, flex-start, center);

            width: 90%;
            border-radius: 5px;
            margin-bottom: 10px;

            .detailedSubstanceDanger
            {
                width: 100%;
                height: 5px;
                background-color: red;
            }

            .detailedSubstanceData
            {
                @include flex(row, space-between, center);

                width: 100%;
                color: white;

                margin-left: 10px;

                div
                {
                    @include flex(row, center, center);

                    p
                    {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}

#editDetailedSubstance
{
    @include flex(column, center, center);

    width: 100%;

    #editDetailedSubstanceInputs
    {
        @include flex(column, center, center);
        width: 90%;

        #editSubstanceName
        {
            padding-right: 28px;
        }

        div
        {
            @include flex(row, space-between, center);
            width: 100%;

            div
            {
                @include flex(row, flex-end, center);
            }
        }

        #editSubstanceMoods
        {
            @include flex(column, center, center);

            div
            {
                @include flex(row, space-between, center);

                div
                {
                    @include flex(row, flex-end, center);
                }
            }
        }
    }

    img
    {
        width: 40px;
        height: 40px;
    }

    #btnDeleteEntry
    {
        width: 30%;
        margin-top: 15px;
    }
}

#editDetailedSubstanceField
{
    @include flex(column, center, center);

    width: 100%;
    min-height: 95%;

    .editDetailedSubstanceFieldInput
    {
        width: 70%;
    }

    #submitEdit
    {
        width: 30px;
        height: 30px;
    }
}

#wikipedia
{
    @include flex(column, center, center);
    width: 100%;

    #wikipediaMenu
    {
        @include flex(column, flex-start, center);
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
    
        h4:first-child
        {
            color: $color2;
            margin-bottom: 30px;
        }
    
        #wikiSubstances
        {
            @include flex(column, center, center);

            width: 90%;
    
            .wikiSubstance
            {
                @include flex(row, flex-start, center);

                width: 100%;
    
                border: 1px solid grey;
                background-color: white;

                margin-bottom: 10px;
    
                p
                {
                    justify-self: center;
                    align-self: center;
                    margin-left: 10px;
                    margin-right: 10px;
                }
    
                img
                {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    #wikipediaSubstanceInfo
    {
        @include flex(column, flex-start, center);

        width: 90%;
        max-width: 90%;

        #wikipediaSubstanceTitle
        {
            color: $color2;
        }

        .collapsible
        {
            overflow: scroll;
            margin-bottom: 50px;
            min-width: 100%;

            li div ul li
            {
                list-style-type: circle;
                margin-left: 28px;
            }

            .collapsible-header
            {
                color: white;
            }
        }
    }
}

#social
{
    @include flex(column, center, center);

    width: 100%;
    height: 95%;

    #redditDiv
    {
        @include flex(column, center, center);

        #redditLogo
        {
            width: 40px;
            height: 40px;
        }
    }
}

#burger
{
    position: fixed;

    width: auto;
    height: auto;

    ul
    {
        border: 2px solid black;
        border-right: 0px;
        margin: 0px;

        li
        {
            border-bottom: 2px solid black;
            padding: 5px;

            div
            {
                @include flex(row, flex-start, center);

                i
                {
                    margin-right: 10px;
                }

                p
                {
                    margin: 0px;
                }
            }
        }

        li:last-child
        {
            border-bottom: 0px;
        }
    }
}

#settings
{
    @include flex(column, center, center);

    width: 100%;
    height: 90%;

    #settingsMenu
    {
        h4
        {
            margin-bottom: 30px;
        }

        div
        {
            width: 90%;
            height: 40px;

            font-size: 18px;
            border-radius: 5px;
            border: 1px solid grey;

            margin-bottom: 20px;
        }
    }

    div
    {
        @include flex(column, center, center);

        width: 90%;

        #manualInputColors
        {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            div
            {
                justify-self: center;
                align-self: center;

                height: 30px;
                width: 30px;

                border: 1px solid black;
                background-color: red;
                border-radius: 50%;
            }
        }
    }
}

footer
{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 5%;

    z-index: 1;

    #footerNewSubstanceBtnBorder
    {
        position: absolute;
        border-radius: 50%;
        z-index: -1;
    }

    #footerNavBar
    {
        @include flex(row, space-evenly, center);

        width: 100%;
        height: 100%;

        img
        {
            height: 80%;
            width: auto;
        }

        #footerNewSubstanceBtn
        {
            margin-bottom: calc(3% + 5px);
            border-radius: 50%;
            height: 130%;
        }
    }
}

.underline
{
    text-decoration: underline;
}

.bold
{
    font-weight: bold;
}

.center
{
    vertical-align: middle;
}

.backArrow
{
    position: fixed;
    left: 10px;
    top: 10px;
}

.timepicker-digital-display
{
    background-image: linear-gradient(45deg, $color2, $color1);
}

.timepicker-canvas line
{
    stroke: $color1;
}

.timepicker-canvas-bg 
{
    fill: $color1;
}

.timepicker-canvas-bearing
{
    fill: $color1;
}

.confirmation-btns button
{
    color: $color1;
}

.datepicker-date-display
{
    background-image: linear-gradient(45deg, $color2, $color1);
}

.datepicker-table td.is-selected
{
    background-color: $color1;
}

.datepicker-table td.is-today
{
    color: $color1;  
}

.datepicker-table td.is-selected
{
    color: white;
}