body
{
    display: flex;
    flex-direction: column;
    margin: 0px;

    background-image: linear-gradient(45deg, #3F61AA, #009FE3);

    height: 100%;
    width: 100%;
}

header
{
    position: fixed;
    width: 100%;
    height: 9%;
    top: 10px;

    div
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 100%;
        width: 100%;

        img:first-child
        {
            margin-left: 15px;
        }

        img:last-child
        {
            margin-right: 15px;
        }
    }
}

.content
{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 20px;

    width: 100%;
    overflow: auto;
    margin-bottom: 20px;

    .usageCards
    {
        display: flex;
        width: 95%;

        .sideDangerBar
        {
            width: 3%;
            background-color: red;
            margin-bottom: 20px;
        }
    }

    .usageCard
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        width: 97%;
        padding: 20px;
        border-radius: 0% 4% 4% 0%;

        background-color: white;
    }

    .usageCard:last-child
    {
        margin-bottom: 20px;
    }

    .usageCardImage img
    {
        width: 75px;
        height: 75px;
    }

    .usageCardContent
    {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;

        p
        {
            font-size: 15px;
        }

        .danger
        {
            width: 100%;
            height: 32px;
            background-image: linear-gradient(to right, green, yellow, red);
            border: 1px solid black;
        }

        .dangerLevel
        {
            border-left: 1px solid black;
            position: relative;
            height: 30px;
            background-color: white;
        }
    }
}

#wikipedia
{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 20px;

    width: 100%;
    overflow: auto;
    margin-bottom: 20px;

    color: white;

    #wikiWelcome
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #wikiCollapsible
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 80%;

        ul
        {
            width: 100%;
        }

        .collapsible-body
        {
            background-color: white;
        }

        ul li div
        {
            color: black;
        }
    }

    .wikiSubstances
    {
        width: 80%;
        margin: 10px 0px;
    }

    #wikiSubstanceTitle
    {
        margin-bottom: 0px;
    }

    #wikiSubstanceSubtitle
    {
        text-align: center;
        margin-top: 0px;
    }
}

footer
{
    position: fixed;

    bottom: 10px;
    width: 100%;
    height: 10%;
    flex-shrink: 0;

    li
    {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        list-style-type: none;
        u
        {
            text-decoration: none;
        }

    }
}

.standardImage
{
    width: 12%;
    height: 60%;
}

.image
{
    width: 20%;
    height: 100%;
}

#addMood
{
    position: absolute;

    border: 1px solid black;
    background-color: white;

    height: 50%;
    width: 65%;
    left: 17.5%;

    div
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        width: 100%;
        height: 100%;

        p
        {
            font-size: 20px;
            text-align: center;
        }
    
        div
        {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-start;

            width: auto;
            height: auto;

            img
            {
                margin: 0px 10px;
                width: 50px;
                height: 50px;
            }
        }
    }

    
}

#addUse
{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: 1px solid black;
    background-color: white;

    height: 50%;
    width: 65%;
    left: 17.5%;

    p
    {
        font-size: 20px;
    }

    #substancePicker
    {
        #substances
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    #substanceDose
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .range-field
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            margin: 0px;
        }

        #dosage
        {
            width: 90%;
        }

        #dosage::-webkit-slider-thumb 
        {
            background-color: #42a5f5;
        }
          #dosage::-moz-range-thumb 
        {
            background-color: #42a5f5;
        }
          #dosage::-ms-thumb 
        {
            background-color: #42a5f5;
        }

        div
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: 100%;

            select
            {
                width: auto;
            }
        }
        
    }
}

.verticalHr
{
    border-left: 1px solid black;
    min-height: 100%;
    margin: 0px 20px;
}

.bold
{
    font-weight: bold;
}