html
    head
        title Harmlessly
        meta(charset="utf-8")
        meta(name="viewport" content="width=device=width, initial-scale=1.0")
        link(rel="stylesheet" href="../css/index.css")
        link(rel="stylesheet" href="../css/main.css")
        link(rel="stylesheet" href="../css/materialize.min.css")
        link(rel="manifest" href="../manifest.json")
        script(src="../js/materialize.min.js")
        script(src="../js/jquery-3.4.1.min.js")
        script(src="../js/home.js")
    body
        header
            img#logo(src="../img/logo_no_background.png")
        div.content
            p Content
        footer
            li
                div.waves-effect.waves-light.btn.green Test
                div.waves-effect.waves-light.btn.green Test 
                div#add.waves-effect.waves-light.btn.green Add
                div.waves-effect.waves-light.btn.green Test 
                div.waves-effect.waves-light.btn.green Test