html
    head
        title Harmlessly
        meta(charset="utf-8")
        meta(name="viewport" content="width=device=width, initial-scale=1.0")
        link(rel="stylesheet" href="./css/home.css")
        link(rel="stylesheet" href="./css/materialize.min.css")
        link(rel="manifest" href="./manifest.json")
        link(rel="icon" href="./img/logo.png" type="image")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        script(src="./js/jquery-3.4.1.min.js")
        script(src="./js/materialize.min.js")
        script(src="./js/home.js")
    body
        div#dashboard
            div#dashboardNavBar
                div
                    p#dashboardBtn Dashboard
                    div.dashboardSelected
                div
                    p#calendarBtn Calendar
                    div.dashboardSelected
            div#dashboardMiniCalendar
                div 
                    p#dashboardMiniCalendarTitle Calendar
                    p#dashboardMiniCalendarMonth
                div
                    p.bold.weekDaysMiniCalendar Mon
                    p.bold.weekDaysMiniCalendar Tue
                    p.bold.weekDaysMiniCalendar Wed
                    p.bold.weekDaysMiniCalendar Thu
                    p.bold.weekDaysMiniCalendar Fri
                    p.bold.weekDaysMiniCalendar Sat
                    p.bold.weekDaysMiniCalendar Sun
            div#dashboardSubstances
                div#displaySubstancesLoading.preloader-wrapper.big.active
                    div.spinner-layer.spinner-blue-only
                        div.circle-clipper.left
                            div.circle
                        div.gap-patch
                            div.circle
                        div.circle-cippler.right
                            div.circle
        footer
            div#footerNavBar
                    img#footerDashboardBtn(src="./img/icons/wiki.png")(name="entries")
                    img#footerWikipediaBtn(src="./img/icons/wiki.png")(name="wiki")
                    img#footerNewSubstanceBtn(src="./img/icons/add.png")(name="add")
                    img(src="./img/icons/calendar.png")(name="calendar")
                    img(src="./img/icons/burger.png")(name="burger")
        