html
    head
        title Harmlessly
        meta(charset="utf-8")
        meta(name="viewport" content="width=device=width, initial-scale=1.0")
        link(rel="stylesheet" href="./css/materialize.min.css")
        link(rel="stylesheet" href="./css/home.css")
        link(rel="manifest" href="./manifest.json")
        link(rel="icon" href="./img/logo.png" type="image")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        script(src="./js/jquery-3.4.1.min.js")
        script(src="./js/materialize.min.js")
        script(src="./js/home.js")
    body.backgroundColorBack
        div#dashboard
            div#dashboardNavBar
                div
                    p#dashboardBtn Dashboard
                    div.dashboardSelected.mainColorBack
                div
                    p#calendarBtn Calendar
                    div.dashboardSelected.mainColorBack
            div#dashboardMiniCalendar.gradient.z-depth-3
                div 
                    p.backgroundColorInside#dashboardMiniCalendarTitle Calendar
                    p.backgroundColorInside#dashboardMiniCalendarMonth
                div
                    p.backgroundColorInside.bold.weekDaysMiniCalendar Mon
                    p.backgroundColorInside.bold.weekDaysMiniCalendar Tue
                    p.backgroundColorInside.bold.weekDaysMiniCalendar Wed
                    p.backgroundColorInside.bold.weekDaysMiniCalendar Thu
                    p.backgroundColorInside.bold.weekDaysMiniCalendar Fri
                    p.backgroundColorInside.bold.weekDaysMiniCalendar Sat
                    p.backgroundColorInside.bold.weekDaysMiniCalendar Sun
            div#dashboardSubstances
                div#displayEntriesLoading.preloader-wrapper.big.active
                    div.spinner-layer.spinner-blue-only
                        div.circle-clipper.left
                            div.circle
                        div.gap-patch
                            div.circle
                        div.circle-cippler.right
                            div.circle
        div#newSubstance
            div#newSubstanceFirst
                h5 I'm taking...
                div#displaySubstances
                    div#displaySubstancesLoading.preloader-wrapper.big.active
                        div.spinner-layer.spinner-blue-only
                            div.circle-clipper.left
                                div.circle
                            div.gap-patch
                                div.circle
                            div.circle-cippler.right
                                div.circle
            div#newSubstanceSecond
                i#newSubstanceSecondBack.small.material-icons.backArrow arrow_back
                h5 How much?
                div#getDosage
                    div
                        div.input-field.inline
                            input#inputDose.validate(placeholder="100" type="number" data-length="4")
                        div#inputDoseScale
                    img#submitDosage(src="./img/icons/check.png")
            div#newSubstanceThird
                i#newSubstanceThirdBack.small.material-icons.backArrow arrow_back
                h5 When?
                input#inputDoseTime.timepicker(placeholder="Time" type="text" readonly="true")
                input#inputDoseDate.datepicker(placeholder="Date" type="text")
                img#submitDoseTime(src="./img/icons/check.png")
            div#newSubstanceFourth
                i#newSubstanceFourthBack.small.material-icons.backArrow arrow_back
                h5
                div.moodsBox#moodInputBefore
                    h5 Before taking it?
                    div.moods.gradient.z-depth-4
                        img.bad(src="./img/moods/bad.png")
                        img.neutral(src="./img/moods/neutral.png")
                        img.good(src="./img/moods/good.png")
                div.moodsBox#moodInputDuring
                    h5 While on it?
                    div.moods.gradient.z-depth-4
                        img.bad(src="./img/moods/bad.png")
                        img.neutral(src="./img/moods/neutral.png")
                        img.good(src="./img/moods/good.png")
                div.moodsBox#moodInputAfter
                    h5 After you've comedown?
                    div.moods.gradient.z-depth-4
                        img.bad(src="./img/moods/bad.png")
                        img.neutral(src="./img/moods/neutral.png")
                        img.good(src="./img/moods/good.png")
                a#skipMoodsInput Skip for now
                img#submitMoods(src="./img/icons/check.png")
                div#uploadingInputsLoading.preloader-wrapper.big.active
                    div.spinner-layer.spinner-blue-only
                        div.circle-clipper.left
                            div.circle
                        div.gap-patch
                            div.circle
                        div.circle-cippler.right
                            div.circle
        div#detailedSubstance
            i#detailedSubstanceBack.small.material-icons.backArrow arrow_back
            h4 MDMA
            div#detailedSubstanceStats
                div.gradient#detailedSubstanceConsumed.z-depth-3
                    p.bold Consumed
                    p 100mg
                div.gradient#detailedSubstanceTimesUsed.z-depth-3
                    p.bold Times used
                    p 1
                div.gradient#detailedSubstanceLastUse.z-depth-3
                    p.bold Last use
                    p 1 second ago
                div.gradient#detailedSubstanceTotalSpent.z-depth-3
                    p.bold Spent
                    p £3.5
            p Recent activity
            div.detailedSubstanceRecentActivity
        div#editDetailedSubstance
            i#editDetailedSubstanceBack.small.material-icons.backArrow arrow_back
            h4 Info
            div#editDetailedSubstanceInputs
                div#editSubstanceName
                    p Name
                    p MDMA
                div#editSubstanceDate(name="Date")
                    p Date
                    div
                        p
                        i.material-icons.small arrow_forward_ios
                div#editSubstanceTime(name="Date")
                    p Time
                    div
                        p
                        i.material-icons.small arrow_forward_ios
                div#editSubstanceDose(name="Dose")
                    p Dosage
                    div
                        p 200mg
                        i.material-icons.small arrow_forward_ios
                div#editSubstanceCost(name="Cost")
                    p Cost
                    div
                        p £35
                        i.material-icons.small arrow_forward_ios
                div#editSubstanceMoods(name="Moods")
                    p Moods
                    div#editMoodBefore(name="Before")
                        p Before taking
                        div
                            img
                            p Undefined
                            i.material-icons.small arrow_forward_ios
                    div#editMoodWhileOnIt(name="While")
                        p While on the substance
                        div
                            img
                            p Undefined
                            i.material-icons.small arrow_forward_ios
                    div#editMoodAfterwards(name="After")
                        p Afterwards
                        div
                            img
                            p Undefined
                            i.material-icons.small arrow_forward_ios
            div#btnDeleteEntry.waves-effect.waves-light.btn.red.z-depth-4 Delete
        div#editDetailedSubstanceField
            i#editDetailedSubstanceFieldBack.small.material-icons.backArrow arrow_back
            h4    
            div.editDetailedSubstanceFieldInput(name="Date")
                h5 When?
                input#editInputDoseTime.timepicker(placeholder="Time" type="text" readonly="true")
                input#editInputDoseDate.datepicker(placeholder="Date" type="text")
            div.editDetailedSubstanceFieldInput(name="Dose")
                h5 How much?
                div
                    div
                        div.input-field.inline
                            input#editInputDose.validate(placeholder="100" type="number" data-length="4")
                        div#editInputDoseScale
            img#submitEdit(src="./img/icons/check.png")
        div#wikipedia
            div#wikipediaMenu
                h4 Wikipedia
                div#wikiSubstances
            div#wikipediaSubstanceInfo
                i#wikipediaBack.small.material-icons.backArrow arrow_back
                h4#wikipediaSubstanceTitle MDMA
                ul.collapsible
                    li
                        div#wikipediaNicknameTitle.collapsible-header.gradient
                            i.material-icons create
                            |Nicknames
                        div#wikipediaNicknameBody.collapsible-body
                    li
                        div#wikipediaDosingTitle.collapsible-header.gradient
                            i.material-icons merge_type
                            |Dosing methods
                        div#wikipediaDosingBody.collapsible-body
                    li
                        div#wikipediaFormsTitle.collapsible-header.gradient
                            i.material-icons notes
                            |Forms
                        div#wikipediaFormsBody.collapsible-body
                    li
                        div#wikipediaEffectsTitle.collapsible-header.gradient
                            i.material-icons equalizer
                            |Effects
                        div#wikipediaEffectsBody.collapsible-body
                    li
                        div#wikipediaDurationTitle.collapsible-header.gradient
                            i.material-icons timer
                            |Duration
                        div#wikipediaDurationBody.collapsible-body
                    li
                        div#wikipediaRisksTitle.collapsible-header.gradient
                            i.material-icons warning
                            |Risks
                        div#wikipediaRisksBody.collapsible-body
                    li
                        div#wikipediaSafetyTitle.collapsible-header.gradient
                            i.material-icons security
                            |Safety
                        div#wikipediaSafetyBody.collapsible-body
        div#social
            h4 Social
            div#redditDiv 
                p Check us out on Reddit
                img#redditLogo(src='./img/icons/reddit.png')(name="reddit")
        div#burger
            ul(name="burger")
                li.backgroundColorBack
                    div#supportUsBtn
                        i.material-icons.small menu
                        p Support us
                li.backgroundColorBack
                    div#sourcesBtn
                        i.material-icons.small menu
                        p Sources
                li.backgroundColorBack
                    div#settingsBtn
                        i.material-icons.small menu
                        p Settings
        div#settings
            div#settingsMenu
                h4 Settings
                div#themeBtn.mainColorBack.backgroundColorInside.z-depth-4 Theme
                div#currencyBtn.mainColorBack.backgroundColorInside.z-depth-4 Currency
                div#pricesBtn.mainColorBack.backgroundColorInside.z-depth-4 Substances price list
            div#footerNavBar
                    img#footerDashboardBtn(src="./img/icons/home.png")(name="home")
                    img#footerWikipediaBtn(src="./img/icons/wiki.png")(name="wiki")
                    img#footerNewSubstanceBtn(src="./img/icons/add.png")(name="add")
                    img#footerSocialBtn(src="./img/icons/social.png")(name="social")
                    img#footerBurgerBtn(src="./img/icons/burger.png")(name="burger")
                    div#footerNewSubstanceBtnBorder.gradientFooterBorder
            