html
    head
        title Harmlessly
        meta(charset="utf-8")
        meta(name="viewport" content="width=device=width, initial-scale=1.0")
        link(rel="stylesheet" href="./css/index.css")
        link(rel="stylesheet" href="./css/materialize.min.css")
        link(rel="manifest" href="./manifest.json")
        link(rel="icon" href="./img/logo.png" type="image")
        script(src="./js/materialize.min.js")
        script(src="./js/jquery-3.4.1.min.js")
        script(src="./js/index.js")
    body
        div#content
            div#home 
                img(src="./img/logo_no_background.png")
                div#login.waves-effect.waves-blue.btn.white Login
                div#register.waves-effect.waves-blue.btn.white Register
            div#loginDiv
                img(src="./img/logo_no_background.png")
                form#loginForm(method="POST")
                    div.input-field
                        input.form-control.validate(type='email', name='email')
                        label(for="email") Email
                    div.input-field
                        input.form-control.validate(type='password', name='password')
                        label(for="password") Password
                    div#loginButton.waves-effect.waves-blue.waves-blue.btn.white(type="submit") Login
                div.back.waves-effect.waves-blue.btn.white Back
            div#registerDiv
                img(src="./img/logo_no_background.png")
                form#registerForm(method="POST")
                    div.input-field
                        input.form-control.validate(type='text', name='name' minlength="4" maxlength="15" required)
                        label(for="name") First Name
                        span.helper-text(data-error="Minimum 4 characters")
                    div.input-field
                        input.form-control.validate(type='email', name='email' maxlength="40" required)
                        label(for="email") Email
                        span.helper-text(data-error="Enter a valid email")
                    div.input-field
                        input.form-control.validate(type='password', name='password' minlength="8" maxlength="30" required)
                        label(for="password") Password
                        span.helper-text(data-error="Minimum 8 characters")
                    div#registerButton.waves-effect.waves-blue.btn.white(type="submit") Register
                div.back.waves-effect.waves-blue.waves-blue.btn.white Back